.app {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
